{% extends 'base.html' %}
{% load static %}

    {% block content %}

      <div class="container py-5">
        {% include 'partials/_messages.html' %}
        <div class="jumbotron">
          <h1>{{request.user.first_name}} {{request.user.last_name}}</h1>
          <p><strong>Email:</strong> {{request.user.email}}</p>
          <p><strong>Username:</strong> {{request.user.username}}</p>
          <p><a class="btn btn-primary btn-large" href="{% url 'store:add-address' %}">Add Address »</a> <a class="btn btn-outline-primary btn-large" href="#">My Orders »</a></p>
        </div>

<div class="row">	
	<div class="col-lg-6">
  		<canvas id="myChart"></canvas>
	</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">
   const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: {{monthNumber|safe}},
      datasets: [{
        label: 'Orders By Month',
        data: {{totalOrder|safe}},
        borderWidth: 1
      }]
    },
    options: {
      scales: {
        y: {
          beginAtZero: true
        }
      }
    }
  });

   var myChart = new Chart(
     document.getElementById('myChart'),
     config
   );
</script>

<div class="col-lg-6">
  		<canvas id="myChart1"></canvas>
	</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script type="text/javascript">
const data = {
  labels: {{monthNumber|safe}},
  datasets: [{
    label: 'My First Dataset',
    data: {{totalOrder|safe}},
    fill: false,
    borderColor: 'rgb(75, 192, 192)',
    tension: 0.1
  }]
};

const config = {
  type: 'line',
  data: data,
};

var myChart = new Chart(
     document.getElementById('myChart1'),
     config
   );


  </script>
</div>
	
        <div class="row">

          <div class="col-lg-6">
            <div class="card mb-4" id="headings">
              <div class="card-header">Addresses <span class="float-right"><a href="{% url 'store:add-address' %}">Add Address</a></span></div>
              <div class="card-body">
                {% if addresses %}
                    {% for address in addresses %}
                        <h4 class="mb-3">Address {{forloop.counter}}</h4> 
                        
                        <span class="float-right"><a href="{% url 'store:remove-address' address.id %}"><i class="fas fa-trash-alt small text-muted"></i></a></span>

                        <p>
                            <strong>Locality: </strong>{{address.locality}} <br>
                            <strong>City: </strong>{{address.city}} <br>
                            <strong>State: </strong>{{address.state}} <br>
                        </p>

                        <hr>
                    {% endfor %}
                {% else %}
                <div class="text-danger">
                  Address not Added.
                </div>
                {% endif %}
                
              </div>
            </div>
          </div>

          <div class="col-lg-6">
            <div class="card mb-4" id="tables">
              <div class="card-header">Orders</div>
              <div class="card-body">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>#</th>
                      <th>Item</th>
                      <th>Status</th>
		      <th>Invoice</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% if orders %}
                      {% for order in orders %}
                        <tr>
                          <td>{{forloop.counter}}</td>
                          <td>{{order.product.title}}</td>
                          <td>
                            {{order.status}}
                          </td>
			  <td><a class="btn btn-primary btn-large" href="{% url 'store:some_view' %}">Invoice</a></td>
                        </tr>
                      {% endfor %}
                    {% else %}
                    <tr>
                      <td class="text-danger" colspan="3">You've not Ordered anything yet.</td>
                    </tr>
                    {% endif %}
                    
                    
                  </tbody>
                </table>
                
              </div>
            </div>
          </div>
          
        </div>
    
        
        
      </div>
{% endblock content %}