<footer class="bg-dark text-white">
        <div class="container py-4">
          <div class="row py-5">
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">ABOUT US</h6>
              <ul class="list-unstyled mb-0">
                <li>ADBRICKS MEDIA is an advertisement company. The stakeholders are holding rich experience with more than 20 years in the industry. We are service experts to enhance your business, revenue, profit and growth in a effective cost efficiency.</li>
              </ul>
            </div>
            <div class="col-md-4 mb-3 mb-md-0">
              <h6 class="text-uppercase mb-3">Find US</h6>
              <ul class="list-unstyled mb-0">
                <li>No.19, MSS Nagar,</li>
		<li> Kumananchavadi,</li>
		<li>Chennai-600056</li>
		<li>(Opposite to Dmart Kattupakkam)</li>
		<li>Email Id : sales@adbricksmedia.com</li>
              </ul>
            </div>
            <div class="col-md-4">
              <h6 class="text-uppercase mb-3">CONTACT US</h6>
              <ul class="list-unstyled mb-0">
                <li>LandLine Number : 044-49571889</li>
		<li>Mobile Number : 8270333377</li>
		<li>For Sales Enquiry : 9003034249</li>
              </ul>
            </div>
          </div>
          <div class="border-top pt-4" style="border-color: #1d1d1d !important">
            <div class="row">
              <div class="c">
                <p class="small text-muted mb-0">&copy; 2023</p>
              </div>
              <div class="col-lg-6 text-lg-right">
                <p class="small text-muted mb-0">Website by <class="text-white reset-anchor">Ad Bricks Media</a></p>
              </div>
            </div>
          </div>
        </div>
      </footer>